// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Media mixin's
@mixin landscape () {
  @media  (orientation:landscape) {
    @content;
  }
}
@mixin portrait () {
  @media  (orientation:portrait) {
    @content;
  }
}
@mixin mobile () {
  @media  (max-width: $sm) {
    @content;
  }
}