/*---- FONTS ----*/
$font-base    		    : 			'Open Sans', sans-serif;
$font-serif    		    : 			'Georgia', serif;
$font-icons    		    : 			'icomoon';

/*---- COLORS ----*/
$white                :       #FFFFFF;
$black                :       #191D24;
$grey                 :       #E7E9EE;
$grey-light           :       #EEF3FA;
$grey-dark            :       #B7C0CD;
$red                  :       #CC2F2F;
$green  				      :			  #A1C269;
$blue                 :       #14AFD7;
$yellow               :       #F2C260;

/*---- EFFECTS ----*/
$transition-fast		  : 			0.33s;