.profile-edit {
  header {
    .icon-menu {
      display: none;
    }
  }
}
.upload {
  color: $blue;
  text-align: center;
  margin: 0 auto;
  width: 82px;
  height: 82px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;

  i {
    font-size: 34px;
    color: $blue;
    text-align: center;
  }
  
  .text {
    display: block;
    font-size: 10px;
  }
  input {
    display: none;
  }

  .hero & {
    position: relative;
    top: 20px;
  }
}
.form {
  fieldset {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
    
    .form-control:required {
      &~.legend {

      }
    }

    legend {
      order: -1;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      color: $grey-dark;
      text-transform: uppercase;
      font-weight: 800;
    }

    .description {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .label {
      color: $blue;
      right: 10px;
      position: absolute;

      &.top {
        top: 10px;
      }

      &.bottom {
        bottom: 10px;
      }
    }
  }
}
.profile-delete {
  border-bottom: 1px solid $grey;
  color: $red;
  padding: 30px 0;
  text-align: left;
  .title {
    display: inline-block;
  }
  
  i {
    float: right;
    color: $red;
    cursor: pointer;
  }
}

.profile-since {
  padding: 30px 0;
  color: $grey-dark;
}