.hero {
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.profile {
  background: $white;
  text-align: center;

  .avatar {
    display: inline-block;
    width: 148px;
    height: 148px;
    margin-bottom: -50px;
    transform: translateY(-50%);
  }

  .name {
    font-size: 47px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .position {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .blocks {
    position: relative;
    margin-bottom: 5px;
    @include clearfix;

    .action {
      float: left;
      position: relative;
      display: block;
      width: calc(100% / 3);
      height: 136px;
      text-decoration: none;
      box-sizing: border-box;

      .title {
        display: block;
        text-transform: uppercase;
        color: $grey-dark;
        padding-top: 11px;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 24px;
      }

      .text-info {
        font-size: 64px;
        height: 64px;
        line-height: 45px;
        vertical-align: baseline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        
        i {
          color: $blue;
          font-size: 40px;
          vertical-align: 2px;
        }
      }

      &:nth-of-type(3n+3) {
        &:after {
          display: none;
        }
      }
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
        &:after {
          background: linear-gradient(to top, $grey 0%, $grey  50%, $white 100%);
          bottom: 0;
          top: auto;
        }
      }
      
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        content: '';
        width: 1px;
        height: calc(100% + 10px);
        background: linear-gradient(to bottom, $grey 0%, $grey  50%, $white 100%);
      }
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      background: $grey;
    }
  }
}

.persons {
  padding: 26px 40px 0;
  font-size: 0;
  background: $grey-light;
  border-bottom: 1px solid $grey-dark;
  @include clearfix;

  .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .person {
    width: 50%;
    max-width: 280px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    text-decoration: none;
    color: $black;

    .avatar {
      transform: none;
      margin-top: 0;
      height: 74px;
      width: 74px;
      margin-bottom: 5px;
    }

    .name {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 3px;
    }

    .position {
      font-size: 28px;
    }
  }

  &+.persons {
    padding-top: 30px;

    .title {
      margin-bottom: 30px;
    }
  }

  &:last-of-type {
    border: none;
  }
}